/* ==========================================================================
   GoInstant Userlist Widget Styles
   ========================================================================== */

.gi-userlist .gi-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('images/sprite.png');
  background-repeat: no-repeat;
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  .gi-userlist .gi-icon {
    background-image: url('images/sprite@2x.png');
    background-size: 208px 52px;
  }
}

/* 
   Userlist Element
   ========================================================================== */

/* Change the box model and font smoothing */
.gi-userlist * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.gi-userlist {
  position: relative;
  display: none;
  max-width: 170px;
  line-height: 1.2;
  font-family: sans-serif;
  font-size: 14px;
  z-index: 9999;
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0,0,0,.2);
}

/* 
   Positioning
   ========================================================================== */

  /* Anchored */
  .gi-anchor {
    position: fixed;
    top: 25%;
  }

    /* Right Aligned */
    .gi-userlist.gi-right {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
      .gi-userlist.gi-right .gi-inner {
        border-radius: 3px 0 0 3px;
        border-right: 0;
      }

    /* Left Aligned */
    .gi-userlist.gi-left {
      left: 0;
      border-radius: 0 3px 3px 0;
    }
      .gi-userlist.gi-left .gi-inner {
        border-radius: 0 3px 3px 0;
        border-left: 0;
      }
    
    /* Custom Container */
    .gi-relative {
      position: relative;
    }

/* 
   User List
   ========================================================================== */
  
/* Wrapper */ 
.gi-userlist .gi-inner {
  display: block;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: hidden;
}

  /* Username List */
  .gi-userlist ul {
    margin: 0;
    list-style: none;
  }

    .gi-userlist li {
      height: auto;
      margin: 0;
      padding: 5px 7px;
      line-height: 1.2;
      overflow: hidden;
      width: 100%;
    }

    .gi-userlist li.gi-local-user + li {
      border-top: 1px solid #ddd;
    }

      /* Clearfix for li */
      .gi-userlist li:before,
      .gi-userlist li:after {
          content: " ";
          display: table;
      }

      .gi-userlist li:after {
          clear: both;
      }

      /* Local user styling */
      .gi-userlist li.gi-local-user {
        padding: 6px 7px;
        font-weight: 600;
        background: #fff;
      }

  /* Avatar */
  .gi-userlist .gi-avatar {
    overflow: hidden;
    width: 25px;
    height: 21px;
    border-radius: 2px;
  }

  .gi-userlist .gi-color {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url('images/sprite.png');
    background-repeat: no-repeat;
    background-position: -1px 0;
    border-radius: 2px;
  }

    @media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
      .gi-userlist .gi-color {
        background-image: url('images/sprite@2x.png');
        background-size: 208px 52px;
      }
    }

    /* Transparent Avatar Border */
    .gi-userlist .gi-color:before {
      display:block;
      content:'';
      position:absolute;
      width:100%;
      height:100%;
      box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
      border-radius: 2px;
    }

  .gi-userlist .gi-avatar .gi-avatar-img {
    background: #f5f5f5;
    width: 24px;
    height: 24px;
    vertical-align: top; /* Overrides breaking style in bootstrap */
  }

  /* Usernames */
  .gi-userlist .gi-name {
    display: inline-block;
    overflow: hidden;
    width: 102px;
    padding: 0 0 1px 4px;
    font-size: 13px;
    margin-right: 20px;
  }

  .gi-inner.collapsed .gi-user {
    overflow: visible;
  }

  .gi-userlist .gi-name.gi-no-options {
    margin-right: 0;
  }

  .gi-userlist .gi-name span {
    white-space: nowrap;
  }

  /* Change Username form */
  .gi-userlist .gi-options {
    position: absolute;
    width: 100%;
    height: auto;
    border-radius: 3px;
  }

  .gi-userlist .gi-options input {
    display: none;
    float: right;
    width: 103px;
    padding: 5px 6px;
    margin-top: 8px;
    height: auto;
    font: inherit;
    font-size: 13px;
    box-shadow: none;
    border: 0;
  }

    .gi-userlist .gi-options input:focus {
      outline: 0;
    }

    .gi-userlist.gi-relative .gi-options input {
      width: 107px;
    }

    .gi-userlist .gi-options.set input {
      display: block;
    }

    .gi-userlist .gi-inner.collapsed .gi-name,
    .gi-userlist .gi-options.collapsed {
      display: none;
      overflow: visible;
    }


    /* Change username icons */
    .gi-userlist .gi-options .gi-icon {
      display: block;
      float: right;
      margin: 11px 12px 0 0;
      background-position: -135px -4px;
      cursor: pointer;
      opacity: .9;
    }

      .gi-userlist .gi-options .gi-icon:hover {
        opacity: 1;
      }


    .gi-userlist .gi-options.set .gi-icon {
      margin: 12px 12px 0 0;
      background-position: -161px -5px;
    }

/* 
   Collapse Toggle
   ========================================================================== */

  .gi-userlist .gi-collapse {
    position: absolute;
    display: block;
    width: 30px;
    height: 25px;
    bottom: -24px;
    background: url('images/transparent.png');
    background: rgba(0,0,0,.7);
    cursor: pointer;
    /* Prevent selection of elements from click */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

    .gi-userlist .gi-collapse:hover {
      background: rgba(0,0,0,.8);
    }

    /* Hide collapse toggle when using custom container */
    .gi-userlist.gi-relative .gi-collapse {
      display: none;
    }

      .gi-userlist .gi-collapse .gi-icon {
        margin: 3px 8px;
      }

      /* Positioning */
      .gi-userlist.gi-right .gi-collapse {
        right: 0;
        border-radius: 0 0 0 3px;
      }

      .gi-userlist.gi-left .gi-collapse {
        left: 0;
        border-radius: 0 0 3px 0;
      }
      
      /* Icon switching */
      .gi-userlist.gi-right .gi-collapse .gi-icon,
      .gi-userlist.gi-left .gi-collapse.collapsed .gi-icon {
        background-position: -84px -5px;
      }
      
      .gi-userlist.gi-left .gi-collapse .gi-icon,
      .gi-userlist.gi-right .gi-collapse.collapsed .gi-icon {
        background-position: -58px -5px;
      }

/* 
   Helpers
   ========================================================================== */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
